*{
    margin: 0;
    padding: 0;
}
section{
    background-color: cadetblue;
    padding: 20px;
}
section div{
    width: 300px;
    text-align: center;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: steelblue;
}
section div input{
    width: 80%;
    height: 25px;
    background-color: transparent;
    color: white;
    padding-left: 10px;
    outline: transparent;
    border: transparent;
}
section div .material-icons{
    position: relative;
    top: 5px;
    left: -10px;
    color: white;
    font-size: 16pt;
}

/* PESQUISA 2 */

article{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    position: relative;
}
article input{
    width: 300px;
    border-radius: 10px;
    height: 20px;
    padding-left: 25px;
    text-transform: lowercase;
}
article label{
    position: absolute;
}
article .material-icons{
    font-size: 16pt;
    padding: 3px;
}